<nav class="navbar navbar-expand-lg bg">
    <style>
        .navbar-brand__img {
            width: 50px;
            font-weight: 700;
            border-radius: 100px;
        }
        .tipo {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold;
            font-size: 45px;
        }
        .bg {
            background: rgba(255,178,77,1);
            background: -moz-linear-gradient(left, rgba(255,178,77,1) 0%, rgba(255,149,10,1) 18%, rgba(255,149,10,1) 36%, rgba(255,149,10,1) 44%, rgba(255,149,10,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,178,77,1)), color-stop(18%, rgba(255,149,10,1)), color-stop(36%, rgba(255,149,10,1)), color-stop(44%, rgba(255,149,10,1)), color-stop(100%, rgba(255,149,10,1)));
            background: -webkit-linear-gradient(left, rgba(255,178,77,1) 0%, rgba(255,149,10,1) 18%, rgba(255,149,10,1) 36%, rgba(255,149,10,1) 44%, rgba(255,149,10,1) 100%);
            background: -o-linear-gradient(left, rgba(255,178,77,1) 0%, rgba(255,149,10,1) 18%, rgba(255,149,10,1) 36%, rgba(255,149,10,1) 44%, rgba(255,149,10,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,178,77,1) 0%, rgba(255,149,10,1) 18%, rgba(255,149,10,1) 36%, rgba(255,149,10,1) 44%, rgba(255,149,10,1) 100%);
            background: linear-gradient(to right, rgba(255,178,77,1) 0%, rgba(255,149,10,1) 18%, rgba(255,149,10,1) 36%, rgba(255,149,10,1) 44%, rgba(255,149,10,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24d', endColorstr='#ff950a', GradientType=1 );
        }

        .letra {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;
        }

        .boton {
            border-radius: 30px;
        }

        .tamano {
            height: 500px;
            width: 1000px;
        }

        .logo {
            height: 20px;
            width: 20px;
        }

        .navb {
            height: 70px;
        }
        li a.active, li a:hover{
            background: blue;
        }
    </style>

    <a href="/" class="navbar-brand letra text-white">
        <img src="/img/vector-home-buildings-logo-and-symbols-icons.jpg" alt="Imagen de inicio" loading="lazy"
             class="navbar-brand__img">
        CASAPRO
    </a>
    <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a class="nav-link text-white letra" th:href="@{/vivienda/crear}">Guardar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white letra" th:href="@{/vivienda/lista}">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white letra" th:href="@{/vivienda/lista_modificar}">Modificar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white letra" th:href="@{/inmobiliaria/crear}">Ingresar inmobiliaria</a>
            </li>
            <li class="nav-item dropdown letra">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-expanded="false">
                    Ubicacion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown letra">
                <a class="nav-link dropdown-toggle text-white " href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-expanded="false">
                    Tipo de propiedad
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item dropdown letra">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-expanded="false">
                    Ambiente
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item active letra">
                <a class="nav-link text-white btn btn-success boton" href="#">INICIAR SESION <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>