body{
    background-image: url("https://th.bing.com/th/id/R.27672b2cf82e55449045a5504760d92b?rik=n97kD3uuhh9cYQ&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
}
.letra{
    font-family: Arial, Helvetica, sans-serif;
}
