body{
    background-image: url("https://th.bing.com/th/id/R.a63e9410b7f8e4bd5c9c25c3c9982494?rik=BVVAkKFRSHw3tg&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
}
.letra{
    font-family: Arial, Helvetica, sans-serif;
}