<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
       <link rel="stylesheet" href="/css/cr_vivienda.css">
        <title>Guardar vivienda </title>
    </head>
    <body>
        <div th:if="${mal != null}" th:text="${mal}" class="alert alert-danger" role="alert">
        </div>
        <div class='container '>
                <form   class="mt-2 " th:action="@{/vivienda/__${accion}__}" method="POST" enctype="multipart/form-data" th:object="${vivienda}" >
                    <input th:value="${usuario.id}" name="usuario" hidden>
                    <div class="row justify-content-center">
                        <h1 th:text="${accion == 'creacion' ? 'Ingrese los datos de la casa' : 'Actualizar casa'}" Class="tipo text-white"></h1>
                    </div>
                    <input hidden th:field="*{id}" >
                    <div class="form-row mt-2">
                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6  letra">
                        <label>Precio</label> <input type="text"  id="precio" class="form-control border border-secondary"   th:field="*{precio}">
                    </div>

                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 letra">
                        <label>Cantidad de baños</label> <input type="text"  id="banio" class="form-control border border-secondary"  th:field="*{banio}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 letra">
                        <label>Cantidad de cocheras</label> <input type="text"  id="cochera" class="form-control border border-secondary"  th:field="*{cochera}">
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 letra">
                        <label>Cantidad de dormitorios</label> <input type="text"  id="dormitorio" class="form-control border border-secondary"   th:field="*{dormitorio}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 letra">
                        <label>Metro cuadrado de la casa</label> <input type="text"  id="mt" class="form-control border border-secondary" th:field="*{mt}">
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 letra">
                        <label>Cuantos ambientes tiene?</label> <input type="text"  id="ambiente" class="form-control border border-secondary"   th:field="*{ambiente}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 letra">
                        <label>Barrio</label> <input type="text"  id="barrio" class="form-control border border-secondary"   th:field="*{barrio}">
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 letra">
                        <label> Ubicacion</label> <input type="text"  id="ubicacion" class="form-control border border-secondary"   th:field="*{ubicacion}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label class="letra">Provincia</label> 
                        <select class="form-control border border-secondary" id="provincia" th:field="*{provincia}" >
                            <!--<option  selected value="">Elegir Provincia</option>-->
                            <option th:each="provincia : ${list}" th:value="${provincia.id}" th:text="${provincia.nombre}" ></option>
                        </select>
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label class="letra">Inmobiliaria</label> 
                        <select class="form-control border border-secondary" id="inmobiliaria" th:field="*{inmobiliaria}" >
                            <!--<option  selected value="">Elegir Inmobiliaria</option>-->
                            <option th:each="inmo : ${inmobiliarias}" th:value="${inmo.id}" th:text="${inmo.nombre}" ></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 letra" >
                        <label>Foto 1</label> <input type="file"  class="form-control border border-secondary" name="archivo" />
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 letra" >
                        <label>Foto 2</label> <input type="file"   class="form-control border border-secondary" name="archivo1" />
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 letra" >
                        <label>Foto 3</label> <input type="file" class="form-control border border-secondary" name="archivo2" />
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 letra" >
                        <label>Foto 4</label> <input type="file"  class="form-control border border-secondary" name="archivo3" />
                    </div>
                </div>
                <div class="form-group">
                   <button type="submit" class="btn btn-success container-fluid">CONTINUAR</button>
                </div>
                </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>